{% load i18n widget_tweaks %}
{% comment %}See http://stackoverflow.com/a/27239186/1983841{% endcomment %}
{% for field in form %}
{% if field.errors %}
<div class="form-group form-group-sm has-danger">
    {% if field not in form.hidden_fields %}
    <strong>
	<label class="col-sm-6 form-control-label" for="id_{{ field.name }}">
	    {{ field.label }}
	</label>
    </strong>

    {% if "Upload" in field.label or field.label == "Parking" or field.label == "Outside Spaces" or field.label == "Features" or field.label == "Rooms" or field.label == "Heating" %}
    {{ field }}
    <div class="col-sm-10">
	<span class="help-block">
	    {% for error in field.errors %}
	    <font color="red">{{ error }}</font>
	    {% endfor %}
	</span>
    </div>
    {% else %}
    <div class="col-md-10">
	{{ field|attr:"class:form-control" }}
	<span class="help-block">
	    {% for error in field.errors %}
	    <font color="red">{{ error }}</font>
	    {% endfor %}
	</span>
    </div>
    {% endif %}
    {% else %}
    {{ field }}
    {% endif %}
</div>
{% else %}
<div class="form-group form-group-sm">
    {% if field not in form.hidden_fields %}
    <strong>
	<label class="col-sm-6 form-control-label" for="id_{{ field.name }}">
	    {{ field.label }}
	</label>
    </strong>

    {% if "Upload" in field.label or field.label == "Parking" or field.label == "Outside Spaces" or field.label == "Features" or field.label == "Rooms" or field.label == "Heating" %}
    {{ field }}
    {% else %}
    <div class="col-sm-10">
	{{ field|attr:"class:form-control" }}
	{% if field.help_text %}
	<p class="help-block"><small>{{ field.help_text }}</small></p>
	{% endif %}
    </div>
    {% endif %}
    {% else %}
    {{ field }}
    {% endif %}
</div>
{% endif %}
{% endfor %}
