{% extends 'base.html' %}
{% load static %}

{% block title %}Expected Prediction{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-2"></div>

    <div class="col-md-8">
        <p>
            <h5>
                Provide the expected prediction for this text
            </h5>
        </p>
        <p>
            <form action="{% url 'inquisitor:expected_prediction' text_document.id %}" method="POST">
                {% csrf_token %}
                {% with expected_prediction_form as form %}
                {% include "bootstrap_form.html" %}
                {% endwith %}

                <div class="form-group form-group-sm">
                    <div class="col-sm-offset-2 col-sm-10">
                        <input
                            type="submit"
                            class="btn btn-primary" value="Submit" />
                    </div>
                </div>
            </form>
        </p>
    </div>
</div>
{% endblock %}
