{% extends 'base.html' %}
{% load static %}

{% block title %}
    Kassandra
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-2"></div>

        <div class="col-md-8">
            <p>
                <h4>
                    In greek mythology, Kassandra was a woman who uttered accurate
                    prophecies, but was never believed.
                </h4>
            </p>
            <p>
                <h5>
                    This online platform that analyses product
                    reviews to accurately predict use cases.
                    Let see if you believe the predictions
                </h5>
            </p>
            <p>
                <form action="{% url 'inquisitor:index' %}" method="POST">
                    {% csrf_token %}
                    {% with text_document_form as form %}
                        {% include "bootstrap_form.html" %}
                    {% endwith %}

                    <div class="form-group form-group-sm">
                        <div class="col-sm-offset-2 col-sm-10">
                            <input
                                type="submit"
                                class="btn btn-primary" value="Submit" />
                        </div>
                    </div>
                </form>
            </p>
        </div>
    </div>
{% endblock %}
