<a class="btn btn-primary" role="button"
   data-toggle="modal"
   data-target="#myModal_{{ record.text_document.id }}">
    Decide
</a>

<!-- Make Decision Modal -->
<div class="modal fade" id="myModal_{{ record.text_document.id }}"
     tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document"
         id="{{ record.text_document.id }}">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">
                    Prediction Accuracy
                </h4>
                <button type="button" class="close"
                        data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Is the predicted use case accurate?
            </div>
            <div class="modal-footer">
                <a
                    href="{% url 'inquisitor:store_predictions' record.text_document.id %}?use_case={{ record.predicted_use_case }}&accurate=true"
                    role="button" class="btn btn-success">
                    Accurate
                </a>
                <a href="{% url 'inquisitor:store_predictions' record.text_document.id %}?use_case={{ record.predicted_use_case }}&accurate=false" role="button" class="btn btn-danger">
                    Inaccurate
                </a>
                <a role="button" class="btn btn-light" data-dismiss="modal">
                    Cancel
                </a>
            </div>
        </div>
    </div>
</div>
