{% extends 'base.html' %}
{% load bootstrap4 %}
{% load render_table from django_tables2 %}

{% block title %}
    Predictions
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-1"></div>

        <div class="col-md-10">
            {% if table.rows|length > 0 %}
                {% render_table table %}
            {% else %}
                <h3>No predictions available at this time</h3>
            {% endif %}
        </div>
    </div>
{% endblock %}
